body {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#CB356B), to(#BD3F32));
  background: linear-gradient(#CB356B, #BD3F32);
}

.app {
  width: 600px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0 rgba(0, 0, 0, .12), 0 0px 0px 0px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0 rgba(0, 0, 0, .12), 0 0px 0px 0px rgba(0, 0, 0, .3);
  border-radius: 10px;
}

.app-header__title {
  text-align: center;
  margin-top: 0;
}

.btn {
  position: absolute;
  z-index: 1;
  display: inline-block;
  padding: 1rem 2.3rem;
  margin-bottom: 0;
  font-weight: normal;
  font-family: GothamPro, sans-serif;
  font-size: 1rem;
  line-height: 1.3rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #fad64e;
  color: #3f3f3f;
  border: none;
  border-radius: 2.8rem;
  transition: transform .2s ease-in-out, box-shadow .2s ease-in-out, -webkit-transform .2s ease-in-out, -webkit-box-shadow .2s ease-in-out;
  will-change: transform;
}
.btn:hover {
    -webkit-box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
            box-shadow: 0 6px 16px 0 rgba(0,0,0,.2);
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
}

.app-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.game-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #ccc;
  background: #ccc;
  min-height: 300px;
  min-width: 300px;
  max-width: 300px;
  max-height: 300px;
}
.app-footer {
  padding: 30px 0;
}